# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Coverage
coverage/

# Next.js & Build Outputs
.next/
out/
build/
dist/
.turbo/

# OS Files
.DS_Store
*.pem

# Environment Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Expo & Mobile
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
